.red{
    color: red;
}
.orange{
    color: rgb(255, 64, 0);
}
.yellow{
    color: rgb(255, 247, 0);
}
.green{
    color: rgb(30, 255, 0);
}
.blue{
    color: rgb(0, 191, 255);
}
.indigo{
    color: blue;
}
.purple{
    color: rgb(144, 0, 255);
}
.box{
    border: 1px solid red;
    display: block;
}
.header{
    background-color: rgb(250, 215, 215);
}
.content{
    grid-area: main;
    background-image: url('img/smilingdog.jpg');
    background-size:contain;
    background-repeat: no-repeat;
}
img {
    height: 100%;
    width: 100%;
} 
.contain {
    object-fit:contain; 
}
@font-face {
    src: url('fonts/MutatorSans.ttf');
    font-family:'MutatorSans';
    font-style: normal;
    font-weight: 1 1000;
  }
  
  label {
    font: 1rem monospace;
    white-space: nowrap;
  }
  
  .sample {
    font: 1rem 'MutatorSans', sans-serif;
    font-weight: 500;
  }
  .small {
    font-size: 6pt;
  }  
  .smallish {
    font-size: 8pt;
  }   
  .mediumish {
    font-size: 10pt;
  } 
  .medium {
    font-size: 12pt;
  }  
  .big {
    font-size: 24pt;
  }     
  .uppercase {
    text-transform: uppercase;
  }
  .bold {
    font-weight: bold;
        }
  .italic {
    font-style: italic;
        }
  .lighter {
    font-weight: thin;
        }
  .cursive {
    font-family: cursive;
  }
  .fantasy {
    font-family: fantasy;
  }